
<%include partials/header%>

	<script src="https://tonejs.github.io/build/Tone.js" type="text/javascript"></script>
	<script src="webgazer.js" type="text/javascript"></script>
	<script src="tracker.js" type="text/javascript"></script>
	<h1>Eye Tracker!</h1>
	<button id='start'>Start Eye Tracking</button>
	<button id='stop'>Stop Eye Tracking</button>

<%include partials/footer%>