<%include ../../partials/header%>
<%include ../../partials/navbar%>

        <script src="sketches/physonics/p5/p5.min.js"></script>
        <script src="sketches/physonics/p5/p5.dom.min.js"></script>
        <script src="sketches/physonics/p5/p5.sound.min.js"></script>
        <link rel="stylesheet" type="text/css" href="sketches/physonics/CSS/style.css">
        <meta charset="utf-8">
        <script src="sketches/physonics/sketch/sketch.js"></script>
        <script src="sketches/physonics/sketch/audioBounce.js"></script>
        <script src="sketches/physonics/sketch/particle.js"></script>

       	<button type="button" id = "startBtn"class="btn btn-secondary">Start</button>
       	<button type="button" id = "stopBtn" class="btn btn-secondary">Stop</button>
<%include ../../partials/footer%>
