<%include ../partials/header%>
<%include ../partials/navbar%>
<div class="container-fluid text-center bg-warning">
	<h1 class="jumbotron">
	  ABOUT
	  <span class="text-muted inline">ME</span>
	</h1>
</div>
<hr class="divider">
<div class="container-fluid bg-light">
	<div class="row">
		<div class="col"></div>
		<div class="col-6">
			<p>
				I'm a composer, sound designer, producer and technologist. I'm a graduate of Berklee College of Music with a double major in Film Scoring and Electronic Production and Design and a minor in Video Game Scoring. While at Berklee I worked as a peer technology trainer and taught student's skills as audio technologists and producers of sound and music.
			</p>
			<p>
				I'm interested in creating music/sound for established and emerging media as well as designing new audio systems and programs for them. I've worked with film makers, game developers and artists and welcome new and challenging collaborations and ideas.
			</p>	
			<p>
				I'm a composer for film and games capable of writing for a variety of small ensembles up to a full orchestra. I also work as a producer and mix engineer for artists.
			</p>
		</div>
		<div class="col"></div>
	</div>
</div>

<%include ../partials/footer%>
