<%include ../partials/header%>
<%include ../partials/navbar%>
<div class="container-fluid text-center bg-warning">
	<h1 style = "margin-bottom: 0; "class="jumbotron">
	  ABOUT
	  <span class="text-muted inline">ME</span>
	</h1>
</div>

<div class="container-fluid bg-light" >

	<div class="row">
		<div class="col" ></div>
		<div class="col-6">
			<hr class="divider">
			<h4 style="text-align: center">
				ENGINEER <span class="text-muted inline">PROGRAMMER</span>
			</h4>
			<hr class="divider">
			<p>
				Through my studies in music and audio production I developed a significant interest in signal processing and computer music. After graduating from Berklee, I began working on personal projects in software development. One of those projects was making this website! I also started studying mathematics and physics on my own in order to have a strong theoretical background for working in hardware and circuits. In a little over a year I decided I was dedicated to the subject enough to enroll in a masters in electrical and computer engineering at Boston University. My interests in the field have broadened from signal processing to also include digital circuit design, semiconductors and algorithms. I've learned so much already and I'm excited to continue forward!
			</p>
			
			<hr class="divider">
			<h4 style="text-align: center">
				COMPOSER <span class="text-muted inline">SOUND DESIGNER</span>
			</h4>
			<hr class="divider">
			<p>
				I'm a composer, sound designer, producer and technologist. I'm a graduate of Berklee College of Music with a double major in Film Scoring and Electronic Production and Design and a minor in Video Game Scoring. While at Berklee I worked as a peer technology trainer and taught student's skills as audio technologists and producers of sound and music. I still love teaching.
			</p>

			<p>
				I'm interested in creating music/sound for established and emerging media as well as designing new audio systems and programs for them. I've worked with film makers, game developers and artists and welcome new and challenging collaborations and ideas. I love making music for film and games and have written for a variety of ensembles from machine tools to a full orchestras. I also work as a producer and mix engineer for artists and am happy to lend an ear when asked.
			</p>	
			<hr class="divider">
			<h4 style="text-align: center">
				GUITARIST <span class="text-muted inline">PERFORMER</span>
			</h4>
			<hr class="divider">
			<p style="margin-bottom: 50px">
				For me, all things started from guitar. I began playing at eleven and quickly became completely engrossed in the instrument due to its range of expression(very loud) and stylistic diversity(at the time the styles were mainly punk and rock). As I grew i found a love for acoustic fingerstyle and started writing music.  
			</p>
		</div>
		<div class="col"></div>
	</div>
</div>

<%include ../partials/footer%>
